:root {
  --solid-primary-color: #222222;
  --solid-primary-light-color: #F0F0F0;
  --solid-primary-dark-color: #070707;
  --solid-secondary-color: #FF5454;
  --linear-secondary-color: linear-gradient(225deg, #FF9696 0%, #A91E1E 100%);
}